@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@400;500&family=PT+Serif&family=Playfair+Display&family=Poppins:wght@200&family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.fw-normal {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.fw-normal :hover{
    color: rgb(199, 163, 95)!important;
    
}
.w-10, .fs-10{
    width: 10%;
}

